/* Estilos globais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #222324, #4e607a);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

/* Cabeçalho */
header {
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
}
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
    animation: fadeIn 1s ease-out;
}
header p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 1.5s ease-out;
}

/* Botões de Boas-Vindas */
.welcome-buttons {
    margin-top: 40px;
}
button {
    background-color: rgb(45, 50, 59);
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    margin: 20px 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    width: 200px;
}
button:hover {
    background-color: #bac8e0;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    font-size: 0.9em;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    header p {
        font-size: 1em;
    }
    button {
        font-size: 1em;
        width: 150px;
        padding: 12px 20px;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }
    header p {
        font-size: 1em;
    }
    button {
        font-size: 1em;
        width: 150px;
        padding: 20px 30px;
    }
}
